*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {

    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    /* margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; */
}

/* HEADER */
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-color {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-section {
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
}

.header-menu-link:hover {
    color: #404bbf;
    text-decoration: underline;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-link-info {
    font-style: normal;
    margin-left: auto;
    /* font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; */
}

.header-list-info {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    margin-left: 0 auto;
    align-items: center;
    gap: 40px;
}

.header-item-info {
    /* font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 */

}

.header-item-address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline-block;


}

.header-item-address:hover {
    color: #404bbf;
    text-decoration: underline;
}

.header-item-address:focus {
    color: #404bbf;
}

/* HERO */
.hero {
    background-color: #2E2F42;

    /* padding-top: 188px;
    padding-bottom: 292px; */
    padding: 188px 0;
    ;
    /* padding-left: 472px;
    padding-right: 472px; */
    */
}

.hero-title {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    /* padding-top: 188px; */
    max-width: 496px;
}

.hero-primary-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    background-color: #4D5AE5;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
}

.hero-primary-btn:hover {
    background-color: #404BBF;
}

.hero-primary-btn:focus {
    background-color: #404BBF;
}

/* FEATURES */

.features {
    background-color: #ffffff;
    padding: 120px 0;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    /* padding: 120px 156px; */
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* TEAM */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* padding-top: 120px; */
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    /* padding-bottom: 120px; */
}

.team-item {
    width: calc((100% - 3 * 24px) / 4);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.team-text-container {
    padding: 32px 0;
}

.team-image {
    /* margin-bottom: 32px; */
    display: block;
    object-fit: cover;
}

.team-sub-xz {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;

}

.team-text-xz {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

/* PORTFOLIO */
.portfolio {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    /* padding-top: 120px; */
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
    /* padding-bottom: 120px; */
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    text-align: left;
    /* border: 1px solid #E7E9FC; */
}

.portfolio-img {
    /* margin-bottom: 32px; */

}

.portfolio-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    /* margin-left: 16px; */
}

.portfolio-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* margin-bottom: 32px;
    margin-left: 16px; */
    color: #434455;
}

/* FOOTER */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-title-color {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: #f4f4fd;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: #F4F4FD;
    /* margin-top: 16px; */
}